@model IEnumerable<ProjectCRM.Models.Customer>
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Customer";
}
<h1 class="display-4">Welcome Our Customer</h1>

@foreach(var customer in Model)
{
    <p>รหัสลููกค้า : @customer.staff_id</p>
    <p>ชื่อลููกค้า : @customer.username</p>
    <p>Permission : @customer.Role</p>
    <hr/>
}